name: Deploy to OVH (FTP)

on:
  push:
    branches: [ "main", "principal" ]   # déclenche si tu pushes sur main OU principal

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5


      # Si ton projet N'A PAS de build (site HTML/CSS simple), supprime ces 3 étapes
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      # Vite -> dist/ (Create React App -> build/)
      - name: Upload via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          local-dir: dist/
          server-dir: ${{ secrets.FTP_DIR }}/
          dangerous-clean-slate: true
