name: Upload via SFTP

on:
  push:
    branches: [ "main", "principal" ]
  workflow_dispatch:

concurrency:
  group: deploy-ovh
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1) Récupère le code du repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2) Environnement Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      # 3) Installer les dépendances (tolérant aux peer deps)
      - name: Install deps
        run: npm install --legacy-peer-deps

      # 4) Build du site
      - name: Build
        run: npm run build

      # 5) Upload du build vers OVH en SFTP
      - name: Upload via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          local_path: dist/*              # ou build/* si CRA
          remote_path: /home/balzaci/www/
          sftp_only: true
          delete_remote_files: true
